@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: blue;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(204, 152, 55);
    border-radius: 10px;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20%;

}

.container{
    background-image: url(./images/bg.1.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    margin-top: 4px;   
    border-radius: 20px;
    
}

h1{
    text-align: center;
    color: orangered;
    font-size: 30px;
    margin: 10px, 0, 10px, 0;
}

.container, p{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.profile{
    margin: 10px, 0, 10px, 0;
    
}
.profile, img{
    border-radius: 50px;
}
.banner{
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}


.heading{
    color: red;
    position:absolute;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    top: 90%;
    z-index: 7;
}

.banner::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    
    background-image: linear-gradient(to right, green, yellow);
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: 0;
    mix-blend-mode: hard-light;
}
@supports (mix-blend-mode: hard-light;){
    .banner::after{
        opacity: 1;
    }
}

.title{
    text-align: center;
    color: orange;
    margin-top: 15px;
    
   

}

#favBand {
    color: black;
    font-size: 20px;
}
#favBand, li{
    color: black;
    font-size: 12px;
    text-align: center;
    

}
.breeds{
    width: 800px;
    display: flex;
    margin: auto;
    
}
.first{
    width: auto;
    height: auto;
    margin-top: 20px;
    background-color: orange;
    border-radius: 20px;
    
    
}
.banner1{
    width: 200px;
    height: auto;
    float: left;  

}

.prgph{
    background-color: gray;
    width: 600px;
    float: right;
    height: auto;
    
}
.link{
    font-size: 40px;
}
.link a{
    color: blue;
    font-size: 40px;
}
.wrapper{
    background-image: url(./images/aboutbg.jpg);
    margin: 0;
}
.wrapper h1{
    font-size: 40px;
    color: blue;
    margin-top: 10px;
}
.intro{
    margin-top: 20px;
}
.wrapper1{
    background-image: url(./images/profilebg.jpg);
    width: 100%;
    height: 300px;
    display: flex;
    align-content: center;
}
.hobbies{
    float: right;
    margin: auto;
}
.profileimg{
    float: left;
    margin-left: 30px;
}
.wrapper1 h1{
    font-size: 30px;
    color: blue;
    margin: 10px;
    align-content: center;

}